* {
  margin: 0;
  padding: 0;
}
.container{
  background: linear-gradient(to top, rgb(70, 117, 41), rgb(139, 177, 2) );
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

#app {
  width: 500px;
  height: 600px;
  margin: 0px auto;
  background: url('./img/BG.jpg');
  background-size: 100% auto;
  background-position: center;
  position: relative;
  border-radius: 15px;

}

.imgGlobal {
  position: absolute;
  border-radius: 8px;
  cursor: pointer;
}

.imgFilter {
  filter: brightness(30%);
}

#storageBox {
  height: 50px;
  width: 80%;
  position: absolute;
  border-radius: 8px;
  bottom: 40px;
  left: 45px;
}
